.painel-filtros {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: center;
}

.painel-filtros input,
.painel-filtros select {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    flex: 1;
    min-width: 200px;
}
